$( document ).ready(function() {
  setInterval(refreshTime, 1000);

  $('input').keyup(function() {
    var empty = false;
    $('input').each(function() {
      if (!$(this).val()) {
          empty = true;
      }
    });
    
    if (empty) {
        $('#set-alarm').attr('disabled', 'disabled');
    } 
    else {
        $('#set-alarm').removeAttr('disabled');
    }
  })

  $('button').click(function(event){
    var userData = [];
    if(!$('button').attr('disabled')){
      $('input').each(function(){
        userData.push($(this).val());
      });

    $.ajax({
      url: "/alarm",
      type: "post",
      data: JSON.stringify(userData),
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      success: function(result){
        if (!$('#overlay').length) {
          $('<div id="overlay"> </div>').hide().appendTo('body').fadeIn(1000);
          $('#overlay').html(result);
        }
      }
    })

    $('body').click(function (e) {
      if (!$(e.target).is('#search')) {
        $('#overlay').fadeOut(500, function() {
            this.remove(); 
         });
      };
    })

    }
  })
});

function refreshTime() {
  $.ajax({
    url: "/alarm/time",
    success: function(updatedTime){
      $('.current-time').html(updatedTime);
    }
  })
}
