<div class="container">
  <div class="row justify-content-md-center banner">
    <div class="col-12">
      <%= image_tag("alarm-logo.png", id: "logo") %>
    </div>
    <div class="clock">
      <span class="current-time"></span>
    </div>
    <div class="clock-shadow">
    </div>
  </div>
  <div class="row ">
  </div>
</div>