/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";

body {
  background-image: url("hotel.jpg");
  background-size: cover;
}

#banner {
  margin-top: 15px;
  height: 15%;
  width: auto;
}

div.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.35);
}

span.current-time {
  font-size: 90px;
  font-family: 'digi';
  color: #e73a52;
  text-shadow: 0 0 20px rgba(230, 58, 82, 0.8);
}

@font-face {
  font-family: 'digi';
  src: url('DS-DIGII.TTF')
}